<launch>
	<include file="$(find ur5e_moveit_config)/launch/ur5e_moveit_planning_execution.launch" />
	<!-- <include file="$(find moveit_servo)/launch/servo_test.launch" />
	<include file="$(find ur5e_teleop)/launch/uart_only.launch" /> -->
	<include file="$(find ur5e_move_group_interface)/launch/ur5e_interface.launch" />
	<!-- <include file="$(find ur5e_admittance_control)/launch/admittance_controller.launch" /> -->
	<!-- <include file="$(find ur5e_pid_control)/launch/pid_controller.launch" /> -->
	<!-- <include file="$(find ur5e_relay_control)/launch/relay_controller.launch" /> -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur5e_move_group_interface)/rviz/all.rviz" required="true" />
	<!-- some basic transform publisher-->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.07 0.05 -0.02 1.57 0 0 tool0 cam_link 50" />
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0.20 0 0 0 tool0 tcp 50" />
    <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0 0 0.1 -1.57 0 0 cam_link obj 50" />

</launch>
