<launch>
	<node pkg="ur5e_move_group_interface" name="ur5e_move_group_interface_node" type="ur5e_move_group_interface_node" output="screen" />


	<!-- <rosparam file="$(find ur5e_admittance_control)/config/ur5e_pos_controller.yaml" command="load"/>
    <node name="arm_controller_spawner_two" pkg="controller_manager"
        type="controller_manager" args="load ur5e_cartesian_position_controller"
        respawn="false" output="screen"/> -->
</launch>
